.outer
{   
    background-color:#ECEEF0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
}

.inner
{
    position: absolute;
    top: 180px;
    width: 360px;
    height: 380px;
    background-color:#FFFFFF;
    border:1px solid #dddddd;
 

}

#logo
{
    height: 92px;
    width: 92px ;
    margin: 20px;
}


.main
{
    width: 205px;
    height: 35.2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
    margin-top: -90px;
    

}

#headings
{
    
    text-align: center;
    line-height: 1.5;
    font-size: 13px;
    color: #364347;
    position: relative;
    left: 135px;
    bottom:0px;
    border-left:5px solid #eee;
    padding-top: 0px;
    padding-left: 10px;
    line-height: 1.5;
    
}


p
{
    font-size: 12px;
    color: #777777;

}

.user
{
    width: 296.8px;
    height: 32px;
    background-color: #E8F0FE;
    border: 1px solid #E0E0E0;
    box-shadow: none;
    position: relative; 
    font-size: 14px;
    left:30px;
    top:100px;
    border-radius: 2px ;
     box-sizing: border-box;
    padding-left: 10px;
    
}

.pass
{
    width: 296.8px;
    height: 32px;
    background-color: #E8F0FE;
    border: 1px solid #E0E0E0;
    box-shadow: none;
    position: relative; 
    font-size: 14px;
    left:30px;
    top:110px;
    border-radius: 2px ;
    box-sizing: border-box;
    padding-left: 10px;
  
}

.pass:hover
{
    border: 2px solid #094F9f;
}

.user:hover
{
    border: 2px solid #094F9f;
}

.pass:focus
{
    outline: none;
  border: 2px solid #094F9f;
  box-shadow: 0px 0px 8px rgba(9, 79, 159, 0.4);
}
.user:focus
{
    outline: none;
   border: 2px solid #094F9f;
  box-shadow: 0px 0px 8px rgba(9, 79, 159, 0.4);
}


.user::placeholder
{
    font-size: 12px;
    color: #777777;
    
}

.pass::placeholder
{
    font-size: 12px;
    color: #777777;
}

.log
{
    width: 298.8px;
    height: 35.6px;
    background-color: #497FAF;
    border: none;
    box-shadow: none;
    position: relative; 
    font-size: 14px;
    left:30px;
    top:120px;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 2px ;
}

.log:hover
{
    background-color: #094F9f;
}


#instruct
{
    width:266px ;
    height:16px;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;;
    position:relative;
    left:50px;
    top: -65px;
    text-align: center;
    color:#000;
    font-size: 14px;
    font-weight: 100;

    
}

a
{
    text-decoration: none;
    color: #02BAF2;
    width:156px ;
    height:19.2px;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;;
    position:relative;
    left:100px;
    top: 110px;
    font-size: 14px;
    text-align: center;
    font-weight: 100;

}





@media(max-width:400px)
{
.outer
{   
    background-color:#ECEEF0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
}

.inner
{
    position: absolute;
    top: 180px;
    width: 281px;
    height: 491px;
    background-color:#FFFFFF;
    border:1px solid #dddddd;
    margin-top:-70px;

}


#logo
{
    height: 92px;
    width: 92px ;
    margin: 40px;
    margin-left:100px;
   

   
}


.mains
{
    width: 205px;
    height: 35.2px;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
    margin-top: -90px;
    border: none;
    

}

#headings
{
    border: none;
    text-align: center;
    line-height: 1.5;
    font-size: 13px;
    color: #364347;
    padding-top: 0px;
    padding-left: 10px;
    position:relative;
    top:80px;
    left: 40px;
    
    
}


#instruct
{
    width:250px ;
    height:16px;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;;
    position:relative;
    left:20px;
    top: -5px;
    text-align: center;
    color:#000;
    font-size: 14px;
    font-weight: 100;

    
}

a
{
    text-decoration: none;
    color: #02BAF2;
    width:156px ;
    height:19.2px;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;;
    position:relative;
    left:55px;
    top: 180px;
    font-size: 14px;
    text-align: center;
    font-weight: 100;

}

.user
{
    width: 250.8px;
    height: 32px;
    background-color: #E8F0FE;
    border: 1px solid #E0E0E0;
    box-shadow: none;
    position: relative; 
    font-size: 14px;
    left:15px;
    top:170px;
    border-radius: 2px ;
     box-sizing: border-box;
    padding-left: 10px;
    
}

.pass
{
    width: 250.8px;
    height: 32px;
    background-color: #E8F0FE;
    border: 1px solid #E0E0E0;
    box-shadow: none;
    position: relative; 
    font-size: 14px;
    left:15px;
    top:180px;
    border-radius: 2px ;
    box-sizing: border-box;
    padding-left: 10px;
  
}

.log
{
    width: 250.8px;
    height: 35.6px;
    background-color: #497FAF;
    border: none;
    box-shadow: none;
    position: relative; 
    font-size: 14px;
    left:15px;
    top:190px;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 2px ;
}

}